*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 116px;
    padding: 230px 0 120px;
    position: relative;
}

.banner::before{
    content:'';
    display: block;
    position: absolute;
    opacity: .8;
    background: #252B49;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
}

.header__container::after{
    content:'';
    background: #BABBC5;
    width: calc(100% - 30px);
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__logo{
    display: flex;
}

.header__menu{
    display: flex;
    column-gap: 10px;
    list-style: none;
    text-decoration: none;
}

.header__link{
    color: #FFF;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; 
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    padding: 36px 0;
    display: block;
    min-width: 129px;
    text-align: center;
    border-bottom: 3px solid transparent;
}

.header__link:hover{
    color: #FFFFFF;
    border-bottom: 3px solid #BABBC5;
}

.header__link:active{
    color: #E71414;
    border-bottom: 3px solid #E71414;
}

.header__burger{
    display: none;
}

.banner__title{
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 75px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 31px;
}

.banner__text{
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
    margin-bottom: 79px;
}

.banner__btn{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
    background-color: #FF4343;
    border: 1px solid #FF4343;
    max-width: 370px;
    width: 100%;
    padding: 25px;
    display: block;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

.banner__btn:hover{
    background-color: #E71414 ;
}

.banner__btn:active{
    background-color: #FF4343 ;
    box-shadow: 4px 4px 30px 0px #FF4343;
}

@media only screen and (max-width: 1024px){
    .banner {
        padding: 126px;
        margin-bottom: 78px;
    }
    .header{
        margin-bottom: 157px;
    }
    
    .header__menu {
        column-gap: 9px;
    }

    .header__link {
        padding: 41px 17px;
    }

    .header__container::after{
        width:984px;
    }

    .header__logo{
        width: 120px;
    }
    
    .banner__title{
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 62px;
    }

    .banner__text{
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 89px;
    }

    .banner__btn{
        max-width: 314px;
    }
}

@media only screen and (max-width: 767px){
    .banner {
        padding: 106px 0 52px;
        margin-bottom: 40px;
    }

    .header{
        margin-bottom: 50px;
        align-items: center;
    }

    .header__container::after{
        display: none;
    }

    .header__nav{
        display: none;
    }

    .header__burger{
        padding: 17px 15.5px;
        display: block;
    }

    .banner__title{
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 33px;
    }

    .banner__text{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 49px;
    }

    .banner__btn{
        max-width: 100%;
        padding: 15px;
    }

}