@mixin font($color, $fontSize, $fontWeight, $lineHeight) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

@mixin container() {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}