@import 'reset';
@import 'mixin';
@import 'var';

.header{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
      @media only screen and (max-width: 767px) {
        padding: 22px 0;        
    }

    &.scrolled {
        background: $background-color;
    }

    &__container {
        @include container();
        display: flex;
        align-items: center;
        justify-content: space-between;

    &::after{
        content:'';
        background: $line-color;
        width: calc(100% - 30px);
        height: 1px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @media only screen and (max-width: 767px){
            display: none;
            }
        }
    }

    &__logo-link{
        @media only screen and (max-width: 1024px) {
            max-width: 120px;
        }
    }

    &__logo{
        display: flex;
        width: 100%;
    }
    
    &__menu{
        display: flex;
        column-gap: 10px;
        list-style: none;
        text-decoration: none;
        @media only screen and (max-width: 1024px){
            column-gap: 9px;
        }
    }

    &__link{
        @include font($font-color, 13px, 700, 15px );
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding: 36px 0;
        display: block;
        min-width: 129px;
        text-align: center;
        border-bottom: 3px solid transparent;
        transition: all .3s linear;
        @media only screen and (max-width: 1024px){
            min-width: 100px;
            padding: 41px 17px;}
            @media only screen and (max-width: 767px){
                min-width: max-content;
                padding: 41px 17px;}


    &:hover{
        color: $font-color;
        border-bottom: 3px solid $line-color ;
        }

    &:active{
        color: $active-color;
        border-bottom: 3px solid $active-color;
        }
    }

    &__nav{
        @media only screen and (max-width: 767px){
        display: none;

        &.open{
            display: block;
            position: fixed;
            left: 0;
            top:0;
            width: 100%;
            height: 100vh;
            padding: 84px 20px 20px;
        }

        .header__menu{
            display: block;
        }

        .header__link{
            display: block;
            text-align: left;
            padding: 24px 0;
        }
        }
    }

    &__burger{
        display: none;
        width: 24px;
        height: 18px;
        position: relative;
        @media only screen and (max-width: 767px){
            display: block;
        }

        &::before{
            content:'';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            border: 3px solid $font-color ;
        }

        &::after{
            content:'';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            border: 3px solid $font-color ;
        }

        &.open{
            .header__burger-item{
                opacity: 0;
                transition: all .3s linear;
            }
            &::after {
                transform: rotate(-45deg) translate(5px, -5px);
            }
            &::before {
                transform: rotate(45deg) translate(5.8px, 5.8px);
            }
        }
    }

    &__burger-item{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 120%;
        border: 3px solid $font-color;
    }
}

.banner{
        background-image: url(/src/assets/img/banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 116px;
        padding: 230px 0 120px;
        position: relative;
        @media only screen and (max-width: 1024px){
            padding:  257px 0 126px;
            margin-bottom: 78px;
        }
        @media only screen and (max-width: 767px){
            padding: 106px 0 52px;
            margin-bottom: 40px;
        }
 
    &::before{    
        content:'';
        display: block;
        position: absolute;
        opacity: .8;
        background: $background-color;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &__container {
        @include container();
        @media only screen and (max-width: 767px) {
            &.hide {
                opacity: 0;
            }
        }
    }

    &__title{
        @include font($font-color, 64px, 900, 75px );
        text-align: center;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 31px;
        @media only screen and (max-width: 1024px){
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 62px;
        }
        @media only screen and (max-width: 767px){
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 33px;
        }
    }

    &__text{
        @include font($font-color, 24px, 400, 28px );
        text-align: center;
        font-family: 'Raleway', sans-serif;
        position: relative;
        max-width: 1000px;
        margin: 0 auto 79.57px;
        @media only screen and (max-width: 1024px){
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 89px;
        }
        @media only screen and (max-width: 767px){
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 49px;
        }
    }

    &__btn{
        @include font($font-color, 24px, 900, 28px );
        text-transform: uppercase;
        background-color: $btn-color;
        border: 1px solid $btn-color;
        max-width: 370px;
        width: 100%;
        padding: 25px;
        display: block;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
        transition: all .3s linear;
        @media only screen and (max-width: 1024px){
            max-width: 314px;
        }
        @media only screen and (max-width: 767px){
            max-width: 100%;
            padding: 15px;
        }

    &:hover{
        background-color: $active-color;
        }

    &:active{
        background-color: $btn-color;
        box-shadow: 4px 4px 30px 0px $btn-color;
        }
    }
}

.features{
    margin-bottom: 116px;
    @media only screen and (max-width: 1024px){
        margin-bottom: 80.11px;
    }
    @media only screen and (max-width: 767px){
        margin-bottom: 34.85px;
    }

    &__container{
        @include container();
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 31px;
        row-gap: 88.57px;
        @media only screen and (max-width: 1024px){
            column-gap: 20px;
            row-gap: 49px;
        }
        @media only screen and (max-width: 767px){
            grid-template-columns: 1fr;
            column-gap: 41.59px;
        }
    }
    &__wrapper{
        text-align: center; 
    }
    &__icon{
        width: 100px;
        height: 100px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 53px;
        svg{
            width: 100%;
            height: 100%;
        }
        @media only screen and (max-width: 1024px) {
            margin: 0 auto 42px;
            width: 85px;
            height: 85px;
            svg{
                width: 100%;
                height: 100%;
            }
        }
        @media only screen and (max-width: 767px) {
            margin: 0 auto 39px;
            width: 75px;
            height: 75px;
            svg{
                width: 100%;
                height: 100%;
            }
        }
    }

    &__title{
        @include font($features-title-color, 24px, 900, 28px );
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        margin-bottom: 44px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 22px;
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__text{
        @include font($features-text-color, 18px, 400, 21px );
        font-family: 'Raleway', sans-serif;
        @media only screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.works{
    margin-bottom: 116px;
    @media only screen and (max-width: 1024px) {
        margin-bottom: 78px;
    }
    @media only screen and (max-width: 767px) {
        margin-bottom: 35px;
    }
    
    &__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2px;
        @media only screen and (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__wrapper-img{
        padding-top: 100%;
        position: relative;
    }

    &__image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__info{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $works-background-hover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .3s linear;
        opacity: 0;
        cursor: pointer;

        &:hover{
            opacity: 1;
        }

        &:active{
            background-color:$works-background-active;
        }
    }

    &__title{
        @include font( $font-color, 24px, 900, 28px );
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        margin-bottom: 20.57px;
        @media only screen and (max-width: 1024px) {
            margin-bottom: 12.81px;
            @include font( $font-color, 18px, 900, 21px );
            @media only screen and (max-width: 767px) {
                margin-bottom: 4.63px;
            }
        }
    }

    &__text{
        @include font( $font-color, 18px, 400, 21px );
        font-family: 'Raleway', sans-serif;
        @media only screen and (max-width: 1024px) {
            @include font( $font-color, 14px, 400, 16px );
        }
        @media only screen and (max-width: 767px) {
            @include font( $font-color, 14px, 400, 16px );
        }
    }
}