$line-color: #BABBC5;
$font-color: #ffffff;
$active-color: #E71414;
$btn-color: #FF4343;
$background-color: #252B49;
$features-title-color: #2D3033;
$features-text-color: #6C7279;
$color_border-link:#C6CBCD;
$works-background-hover:rgba(255, 67, 67, 0.80);
$works-background-active:rgba(185, 12, 12, 0.80);
$download-text:#000;
$footer_background-color:#353C65;
$copyright_background-color:#2C3154;
$copyright-text:#808080;
$background-testimonials:#5C3249;
$background-swiper:#7E5D6F;